@import "config/_variables.scss";
@import "config/reset.css";

@import "pages/home.scss";
@import "pages/auth.scss";
@import "pages/profile.scss";

@import "partials/header.scss";
@import "partials/footer.scss";

@import "mixins/question.scss";
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Stylish&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  //font-family: "Stylish", sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 60px;
  padding: 20px 30px;
}

#root {
  width: 100%;
}

%button-parent {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 1.1em;
}

%input-parent {
  border: 1px solid $dark-grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
}

%input-parent-hover {
  border: 1px solid $black;
}

%input-parent-focus {
  outline: 0;
  border: 2px solid $sky-blue;
}
