.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #0000002e;
  border-radius: 2px;
  padding-top: 20px;
  margin-top: 20px;

  .question__title {
    font-size: 1.1em;
    font-weight: 700;
  }
  .question__items {
    display: flex;
    align-items: center;

    * {
      margin-top: 10px;
    }
    .quest-item {
      position: relative;

      &:active {
        img {
          opacity: 1;
        }
        span {
          display: none;
        }
      }
      .item-image {
        width: 100%;
        opacity: 0.3;
        cursor: pointer;
        z-index: -1;
      }

      span {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        text-align: center;
        font-weight: 700;
        color: $good-night;
      }
      .item-count {
        padding-top: 20px;
        font-size: 2em;
      }
      .item-desc {
        padding-top: 60px;
      }
    }
  }
  .question-edit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .edit-buttons {
      button {
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: $good-night;
        color: white;
        margin-left: 5px;
      }
    }
  }
}
