.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $grey;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px $good-night;

  .header__menu {
    display: flex;
    .header__menu-item {
      margin-right: 10px;
      a {
        padding: 5px;
        text-decoration: none;
        color: $dark-periwinkle;
        cursor: pointer;
      }
    }
  }

  .header__logout {
    width: 80px;
    padding: 5px;
    border: none;
    background-color: $dark-periwinkle;
    color: white;
    border-radius: 10px;
  }
}
