.form-question {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px $hint-of-elusive-blue;

  .question-title {
    @extend %input-small;
    width: 100%;
  }
  .select-items {
    display: flex;
    flex-direction: column;

    .select-items__input {
      .item__input-text {
        @extend %input-small;
        width: 100%;
      }

      #file-upload-button {
        @extend %button-small;
        background-color: $good-night;
        color: white;
      }
      .item__file-attach {
        background-color: $hint-of-elusive-blue;
        padding: 5px 10px;
        width: 100%;
        border-radius: 5px;
        margin-top: 5px;
      }

      .preview-image {
        img {
          height: 200px;
        }
      }
    }
  }

  .question-buttons {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;

    .question-submit,
    .question-cancel {
      @extend %button-small;
      background-color: $megaman;
      color: white;
      width: 100%;
      text-align: center;
      // margin: 0px 5px;
    }
    .question-cancel {
      margin-right: 10px;
    }
  }
}
